button.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    transition: .3s;
    user-select: none;

    &.small {
        height: 32px;
        padding: 0 10px;
        font-size: .9em;
    }

    &.default {
        height: 42px;
        padding: 0 10px;
        font-size: 1em;
    }

    &.large {
        height: 48px;
        padding: 0 15px;
        font-size: 1.1em;
    }

    &.text {
        border: none;
        background: none;

        &:hover {
            box-shadow: none;
        }
    }

    &.outlined {
        background: #fff;
    }

    &.filled {
        color: #fff;
        border: none;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 2px 5px rgb(158, 158, 158);
    }

    &:active {
        filter: brightness(1.1);
    }
}
