.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
}

.modal {
    z-index: 20;
    width: 50%;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    animation: .3s show-up;
    .modal-header {
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding-bottom: 15px;
    }
    .modal-body {
        color: #120077;
        font-size: 16px;
        line-height: 26px;
    }
    .modal-actions {
        padding-top: 20px;
        display: flex;
        justify-content: flex-end;
        button:not(:last-of-type) {
            margin-right: 10px;
        }
    }
}

button.close-btn {
  width: 48px;
  height: 48px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: .3s all;
  cursor: pointer;
}

button.close-btn img {
    width: 20px;
}

@keyframes show-up {
    0% {
        transform: translate(-50%, -50%) scale(.8);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
